@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center mt-5">

    <h1 class="text-danger"> Access Denied </h1>

    <h4>
        You Are Not Authorized To Access This Page
    </h4>

    <a asp-controller="Home" asp-action="Index" class="btn btn-primary mt-3">
        Back To Home
    </a>

</div>